<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs', {pageTitle: 'Profile'}) %>

<body>

    <%- include('./partials/header.ejs') %>

<section  class="section-form-pro">
    <div class="div-image">
        <img src="/images/<%= user.image %> " class="rounded" alt="...">
        <div class="div-img-text">
            <h2> <%= user.name %></h2>
            <p>Email: <%= user.email %> </p>
            <p>Age: <%= user.edad %> </p>
        </div>
    </div>
    <div  class="div-button">
        <a href="/home"class="myButton"> Ir al Home</a>
    </div>   
    
</section>
    
</body>
</html>